@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

.App {
  min-height: 95vh;
  background: #FFD580;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.formulaire {
  color: #12152d;
  display: flex;
}

.formulaire>input {
  font-weight: bold;
  margin: 10px;
  outline: none;
  width: fit-content;
  color: #9A4215;
  border: 3px solid #9A4215;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.formulaire>button {
  font-weight: bold;
  margin: 10px;
  outline: none;
  width: fit-content;
  color: #f1f1f1;
  background-color: #9A4215;
  border: 3px solid #9A4215;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transform: scale(1);
  transition-duration: 300ms;
}

.formulaire>button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h2,
h3 {
  text-align: center;
  margin: 10px 0px;
}

.weather-info {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #9A4215;
  color: #f1f1f1;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.req{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 50px;
}

.unit-toggle {
  display: flex;
  justify-content: space-between;
}

.unit-toggle>:nth-child(n) {
  margin: 10px;
}


.formulaire>input:focus {
  color: #9A4215;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

.prev {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid black;
}